.card {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.main {
    display: flex;
    justify-content: center;
}

.game-container {
    display: flex;
    gap: 20px;
    width: 60%;
    flex-wrap: wrap;
}

